<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>Portal for TPO</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/dashboard">Portal for TPO</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#"
              >News Feed <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Notifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Calendar</a>
          </li>
        </ul>
        <div class="nav-item float-right">
          <img
            class="rounded-circle"
            src="../static/images/user.png"
            width="48"
            height="48"
            alt="User"
          />
        </div>
        <div class="nav-item dropdown float-right mr-5">
          <a
            class="nav-link dropdown-toggle text-light"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Rishita
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/student_profile">Profile</a>
            <a class="dropdown-item" href="#">Change Password</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Help</a>
            <a class="dropdown-item" href="#">Log Out</a>
          </div>
        </div>
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
      </div>
    </nav>
    <div class="container text-center mt-5">
      <div class="row content">
        <div class="col-sm-2 mr-5">
          <p><a href="#">My Applications</a></p>
          <p><a href="#">My Offers</a></p>
          <p><a href="#">My Resumes</a></p>
          <hr />
          <p><a href="#">Upcoming Events</a></p>
          <p class="active"><a href="#">Company details</a></p>
          <p><a href="#">Interview Experiences</a></p>
          <p><a href="#">Resources</a></p>
        </div>
        <div class="col-sm-9 text-left">
          <h1>Credit Suisse</h1>
          <br />
          <p>
            Credit Suisse is one of the world s leading banks, with more than
            45,000 employees, offices in 50 countries and expertise in nearly
            every facet of banking, investing and finance. As we look towards
            the future, we have made strategic changes to better serve our
            clients. We are also focused on making inroads into new markets and
            ensuring the continued success of our company and our people.
            Through it all, we have created an environment aimed at ensuring
            that you can flourish. No matter where you are in your career, now
            is a great time to become part of Credit Suisse. We offer
            opportunities to make meaningful contributions to the firm, and
            reach new milestones in your career.
          </p>
          <h5>Company Type</h5>
          <p>FinTech</p>
          <h5>Category</h5>
          <p>Super Dream</p>
          <h5>Positions usually offered</h5>
          <p>Software Developer</p>

          <h5>Students Placed</h5>
          <table class="table table-hover mt-5">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Student Name</th>
                <th scope="col">Job Type</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Sumit</td>
                <td>I</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Shruti</td>
                <td>I+P</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Preeti</td>
                <td>P</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Vidya</td>
                <td>P</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Ronit</td>
                <td>I+P</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
