<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Admin Dashboard</title>
    <style type="text/css">
      .card
      {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        height: 250px;

      }
      .card img
      {
        height: 170px;
        max-width: 230px;
        align-content: center;
      }
      p
      {
        font-weight: bolder;
      }
    </style>>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand " href="#">Portal for TPO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">News Feed <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Notifications</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Calendar</a>
              </li>       
          </ul>
          <div class="nav-item dropdown float-right mr-5">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {Name}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="#">Change Password</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Help</a>
              <a class="dropdown-item" href="#">Log Out</a>
            </div>
        </div>
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
        </div>
      </nav>
      <div class="container text-center mt-5">    
        <div class="row content">
          <div class="col-sm-2">
            <p><a href="#">View Students</a></p>
            <p><a href="#">My Offers</a></p>
            <p><a href="#"></a></p>
            <hr/>
            <p><a href="#">Upcoming Events</a></p>
            <p><a href="/admin_addCompany">Company details</a></p>
            <p><a href="#">Interview Experiences</a></p>
            <p><a href="#">Resources</a></p>
            
          </div>
          <div class="col-sm-10 text-left"> 
            <div class="container">
              <div class="row">
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <img src="https://www.digitalvidya.com/wp-content/uploads/2018/11/DATA-STRUCTURES-AND-ALGORITHMS-IN-P.png"><br/><br/>
                      <p>Data Structures & Algorithms</p>
                      
                    </div>
                    
                  </div>
                  
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <img src="https://2.bp.blogspot.com/-efIR_YnlaVM/WdTm2paJxgI/AAAAAAAAAIs/V0pufbOBOPcQBkm8VjzNKClH24ds8hRVwCLcBGAs/s1600/DBMS1.png"><br/><br/>
                      <p>Database Management System</p>
                      
                    </div>
                    
                  </div>
                  
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <img src="https://i.ytimg.com/vi/ECfGOa_-nWQ/maxresdefault.jpg"><br/><br/>
                      <p>Operating System</p>
                      
                    </div>
                    
                  </div>
                  
                </div>
                
              </div>
              
            </div>
          </div>
          <table class="table">
  <thead>
    <tr>
      <th scope="col">Sr. no</th>
      <th scope="col">Subject Name</th>
      <th scope="col">Topic</th>
      <th scope="col">Reference</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Data Structures & Algorithms</td>
      <td>Sorting</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Data Structures & Algorithms</td>
      <td>Trees</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Data Structures & Algorithms</td>
      <td>Graphs</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Data Structures & Algorithms</td>
      <td>Arrays</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Data Structures & Algorithms</td>
      <td>Linklist</td>
      <td></td>
    </tr>
  </tbody>
</table>
          
        </div>
      </div>

      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>